<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="sidebar_right" class="d-flex flex-column gap-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor.</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aspernatur cumque eius
                impedit iure magni modi nemo perspiciatis quia, quis ratione rem rerum, saepe sunt suscipit tempore ut
                voluptates voluptatibus!</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor.</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aspernatur cumque eius
                impedit iure magni modi nemo perspiciatis quia, quis ratione rem rerum, saepe sunt suscipit tempore ut
                voluptates voluptatibus!</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor.</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aspernatur cumque eius
                impedit iure magni modi nemo perspiciatis quia, quis ratione rem rerum, saepe sunt suscipit tempore ut
                voluptates voluptatibus!</p>
        </div>
    </div>
</aside>
</body>
</html>