<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row row-cols-1 g-3">
        <div class="col" th:each="p : ${posts}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${p.title}">Post Title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <span>By</span>
                        <b th:text="${p.author}">Bob Smith</b>
                        <span th:text="${p.prettyCreateTime}">1 minute ago</span>
                    </h6>
                    <p class="card-text mb-1">
                        <img th:if="${p.images != null && !p.images.isEmpty()}" th:src="@{${p.images.first.path}}"
                            class="img-fluid img-thumbnail" alt="Post image"/>
                        <span th:text="${p.excerpt}">Post excerpt...</span>
                    </p>
                    <a th:href="@{/post/{id}(id=${p.id})}" class="card-link">Read more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <nav class="mt-4 d-flex justify-content-center">
                <ul class="pagination">
                    <!-- Previous link -->
                    <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/(page=${page - 1})}"
                           th:aria-disabled="${page == 0}">Previous</a>
                    </li>
                    <!-- Current page number -->
                    <li class="page-item">
                        <a href="#" class="page-link disabled" th:text="${page + 1}">1</a>
                    </li>
                    <!-- Next link -->
                    <li class="page-item" th:classappend="${page == totalPages - 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/(page=${page + 1})}"
                           th:aria-disabled="${page == totalPages}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>